    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TK Nirmala II - Dashboard</title>
    <link rel="stylesheet" href="../../public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/front/dist/main.css">
    <link rel="stylesheet" href="../../public/front/dist/style-custom.css">
</head>

<body>
    <!-- Header Area Start -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-top-wrapper">
                            <div class="header-top-info">
                                <div class="email">
                                    <div class="icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <span>tkkumalaii@gmail.com</span>
                                    </div>
                                </div>
                                <div class="cta">
                                    <div class="icon">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                    <div class="text">
                                        <span>+8801658 874521</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <!-- Default Menu -->
                <div class="d-none d-lg-block">
                    <nav class="menu-area d-flex align-items-center">
                        <div class="logo">
                            <a href="#"><h2>TK Kumara II</h2></a>
                        </div>
                        <ul class="main-menu d-flex align-items-center">
                            <li><a href="index.html">Beranda</a></li>
                            <li><a href="profil.html">Profil</a></li>
                            <li><a href="galeri.html">Galeri</a></li>
                            <li><a href="pengumuman.html">Pengumuman</a></li>
                            <li><a class="active" href="kegiatan.html">Kegiatan</a></li>
                            <li><a href="kontak.html">Kontak</a></li>
                        </ul>
                        <div class="col align-items-center">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-link me-md-2" href="#">Masuk</a>
                                <a class="btn bg-primary" href="#">Pendaftaran</a>
                            </div>
                        </div>
                    </nav>
                </div>

                <!-- Mobile Menu -->
                <aside class="d-lg-none">
                    <div id="mySidenav" class="sidenav">
                        <div class="close-mobile-menu">
                            <a href="javascript:void(0)" id="menu-close" class="closebtn"
                                onclick="closeNav()">&times;</a>
                        </div>
                        <li><a href="index.html">Beranda</a></li>
                        <li><a href="profil.html">Profil</a></li>
                        <li><a href="galeri.html">Galeri</a></li>
                        <li><a href="pengumuman.html">Pengumuman</a></li>
                        <li><a href="kegiatan.html">Kegiatan</a></li>
                        <li><a href="kontak.html">Kontak</a></li>
                        <div class="d-grid text-center">
                            <a class="btn btn-link me-md-2" href="#">Masuk</a>
                            <a class="btn bg-primary" href="#">Pendaftaran</a>
                        </div>
                    </div>
                    <div class="mobile-nav d-flex align-items-center justify-content-between">
                        <div class="logo">
                            <a href="#"><h2>TK Kumara II</h2></a>
                        </div>
                        <div class="hamburger-menu">
                            <a style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</a>
                        </div>
                    </div>
                </aside>
                <!-- Body overlay -->
                <div class="overlay" id="overlayy"></div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <main>

        <!-- Breadcrumb Area Start -->
        <section class="breadcrumb-area mt-15">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Beranda</a></li>
                                <li class="breadcrumb-item"><a href="pendaftaran-anak.html">Pendaftaran Anak</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Detail Pendaftaran</li>
                            </ol>
                        </nav>
                        <h5>Detail Pendaftaran</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Area End -->

        <!--Acount Area Start -->
        <section class="billing-info-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Dashboard-Nav  Start-->
                        <div class="dashboard-nav">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="dashboard-pengguna.html" >Pengaturan</a></li>
                                <li class="list-inline-item"><a href="data-orang-tua.html">Data Orang Tua</a></li>
                                <li class="list-inline-item"><a href="data-siswa.html" >Data siswa</a></li>
                                <li class="list-inline-item"><a href="pendaftaran-siswa.html" class="active">Pendaftaran siswa</a></li>
                                <li class="list-inline-item"><a href="#" class="mr-0">Keluar</a></li>
                            </ul>
                        </div>
                        <!-- Dashboard-Nav  End-->
                    </div>
                </div>
                <div class="row" style="border: 1px solid #EFEFEF;">
                    <div class="col-lg-6 order-2 order-md-1 px-0">
                        <div class="card-price h-100%" style="border: none;">
                            <h6 class="text-start">Metode Pembayaran</h6>
                            <div class="card-price-list d-flex justify-content-between align-items-center">
                                <div class="item">
                                    <p>Transfer Bank BCA</p>
                                </div>
                                <div class="price">
                                    <p>An TK Niratha I - 4160445586</p>
                                </div>
                            </div>
                            <div class="card-price-list d-flex justify-content-between align-items-center">
                                <div class="item">
                                    <p>Transfer OVO</p>
                                </div>
                                <div class="price">
                                    <p>An TK Niratha I - 082266113856</p>
                                </div>
                            </div>
                            <div class="card-price-list d-flex justify-content-between align-items-center">
                                <div class="item">
                                    <p>Transfer DANA</p>
                                </div>
                                <div class="price">
                                    <p>An TK Niratha I - 082266113856</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-md-2 px-0">
                        <div class="card-price" style="border: none;">
                            <h6>Riwayat Pembayaran</h6>
                            <div class="d-grid justify-content-beetwen">
                                <div class="col-12 px-2">
                                    <div class="card-price-list d-flex justify-content-between align-items-center">
                                        <div class="item col-6 col-lg-4 px-0">
                                            <p>Tanggal Transaksi</p>
                                        </div>
                                        <div class="price col-6 col-lg-8 px-0">
                                            <p>Senin, 15 Maret 2023</p>
                                        </div>
                                    </div>
                                    <div class="card-price-list d-flex justify-content-between align-items-center">
                                        <div class="item col-6 col-lg-4 px-0">
                                            <p>Status Transaksi</p>
                                        </div>
                                        <div class="price col-6 col-lg-8 px-0">
                                            <p>
                                                Pembayaran sedang dalam proses verifikasi..!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price-list d-flex justify-content-center align-items-center">
                                    <img src="../../public/images/bukti_pembayaran/sampel-pembayaran.jpg" alt="bukti pembayaran" class="img-fluid rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 order-2 order-lg-1">
                        <div class="deliver-info-form mt-5">
                            <h6>Formulir Pembayaran</h6>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="">Nama Siswa</label>
                                        <div class="form-control form-control-lg fs-6" >Hardi Nurtanto Sinkan</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="">Tanggal Daftar Siswa</label>
                                        <div class="form-control form-control-lg fs-6">15 Maret 2020</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">Alamat Siswa</label>
                                        <div class="form-control form-control-lg h-auto fs-6">Dalung, Badung</div>
                                    </div>
                                </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="">Bukti Pembayaran</label>
                                            <input type="file" class="form-control" placeholder="Telp" id="input-bukti-pembayaran-pelanggan" accept="image/*">
                                            <div id="invalid-input-bukti-pembayaran-pelanggan" class="invalid-feedback"></div>
                                        </div>
                                    </div>

                            </div>
                            <div class="row">
                                <div class="col-12 d-flex align-items-center justify-content-between bottom flex-wrap">
                                    <a href="pendaftaran-siswa.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                                        Kembali
                                    </a>
                                    <button class="btn bg-primary mt-0" type="submit" value="<?= $data_pemesanan[0]['id_transaksi'];?>" id="btnPembayaran-pemesananPelanggan">Bayar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2">
                        <div class="deliver-info-form mt-5">
                            <h6>Bukti Pembayaran</h6>
                            <div class="card-price-list d-flex justify-content-between align-items-center" id="canvas-bukti-pembayaran-pelanggan">
                                <img src="../../public/images/bukti_pembayaran/dummy-image.jpg" alt="" class="img-fluid rounded" id="image-bukti-pembayaran-pelanggan">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Acount Area End -->

    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row main-footer">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="main-footer-info">
                        <h2 class="text-white">TK Kumaran II</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie malesuada
                            metus, non molestie ligula laoreet vitae. Ut et fringilla risus, vel.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>TK Kumaran II</h6>
                        <ul class="quicklink">
                            <li><a href="#">Beranda</a></li>
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Galeri</a></li>
                            <li><a href="#">Pengumuman</a></li>
                            <li><a href="#">Kegiatan</a></li>
                            <li><a href="#">Kontak</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>Menu Cepat</h6>
                        <ul class="quicklink">
                            <li><a href="#">Pendaftaran</a></li>
                            <li><a href="#">Pengumuman</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>Pengguna</h6>
                        <ul class="quicklink">
                            <li><a href="#">Pofil</a></li>
                            <li><a href="#">Keluar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-flex justify-content-between align-items-center">
                        <div class="copyright-text order-2 order-lg-1">
                            <p>&copy; 2023. TK Kumara II</p>
                        </div>
                        <div class="copyright-links order-1 order-lg-2">
                            <a href="#" class="ml-0"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <script src="../../public/front/src/js/jquery.min.js"></script>
    <script src="../../public/front/src/js/bootstrap.min.js"></script>
    <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../../public/front/dist/main.js"></script> -->
    <script>
        function openNav() {

            document.getElementById("mySidenav").style.width = "350px";
            $('#overlayy').addClass("active");
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $('#overlayy').removeClass("active");
        }
    </script>
</body>
