<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TK Nirmala II - Dashboard</title>
    <link rel="stylesheet" href="../../public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/front/dist/main.css">
    <link rel="stylesheet" href="../../public/front/dist/style-custom.css">
</head>

<body>
    <!-- Header Area Start -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-top-wrapper">
                            <div class="header-top-info">
                                <div class="email">
                                    <div class="icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <span>tkkumalaii@gmail.com</span>
                                    </div>
                                </div>
                                <div class="cta">
                                    <div class="icon">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                    <div class="text">
                                        <span>+8801658 874521</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <!-- Default Menu -->
                <div class="d-none d-lg-block">
                    <nav class="menu-area d-flex align-items-center">
                        <div class="logo">
                            <a href="#"><h2>TK Kumara II</h2></a>
                        </div>
                        <ul class="main-menu d-flex align-items-center">
                            <li><a href="index.html">Beranda</a></li>
                            <li><a href="profil.html">Profil</a></li>
                            <li><a href="galeri.html">Galeri</a></li>
                            <li><a href="pengumuman.html">Pengumuman</a></li>
                            <li><a class="active" href="kegiatan.html">Kegiatan</a></li>
                            <li><a href="kontak.html">Kontak</a></li>
                        </ul>
                        <div class="col align-items-center">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-link me-md-2" href="#">Masuk</a>
                                <a class="btn bg-primary" href="#">Pendaftaran</a>
                            </div>
                        </div>
                    </nav>
                </div>

                <!-- Mobile Menu -->
                <aside class="d-lg-none">
                    <div id="mySidenav" class="sidenav">
                        <div class="close-mobile-menu">
                            <a href="javascript:void(0)" id="menu-close" class="closebtn"
                                onclick="closeNav()">&times;</a>
                        </div>
                        <li><a href="index.html">Beranda</a></li>
                        <li><a href="profil.html">Profil</a></li>
                        <li><a href="galeri.html">Galeri</a></li>
                        <li><a href="pengumuman.html">Pengumuman</a></li>
                        <li><a href="kegiatan.html">Kegiatan</a></li>
                        <li><a href="kontak.html">Kontak</a></li>
                        <div class="d-grid text-center">
                            <a class="btn btn-link me-md-2" href="#">Masuk</a>
                            <a class="btn bg-primary" href="#">Pendaftaran</a>
                        </div>
                    </div>
                    <div class="mobile-nav d-flex align-items-center justify-content-between">
                        <div class="logo">
                            <a href="#"><h2>TK Kumara II</h2></a>
                        </div>
                        <div class="hamburger-menu">
                            <a style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</a>
                        </div>
                    </div>
                </aside>
                <!-- Body overlay -->
                <div class="overlay" id="overlayy"></div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <main>

        <!-- Breadcrumb Area Start -->
        <section class="breadcrumb-area mt-15">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Beranda</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pendaftaran Siswa</li>
                            </ol>
                        </nav>
                        <h5>Pendaftaran Siswa</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Area End -->

        <!--Acount Area Start -->
        <section class="account">
            <div class="container">
                <div class="row"> 
                    <div class="col-lg-12">
                        <!-- Dashboard-Nav  Start-->
                        <div class="dashboard-nav">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="dashboard-pengguna.html" >Pengaturan</a></li>
                                <li class="list-inline-item"><a href="data-orang-tua.html">Data Orang Tua</a></li>
                                <li class="list-inline-item"><a href="data-siswa.html" >Data Siswa</a></li>
                                <li class="list-inline-item"><a href="pendaftaran-siswa.html" class="active">Pendaftaran Siswa</a></li>
                                <li class="list-inline-item"><a href="#" class="mr-0">Keluar</a></li>
                            </ul>
                        </div>
                        <!-- Dashboard-Nav  End-->
                    </div>
                    <div class="col px-0 mt-0 mb-4 d-flex justify-content-end">
                        <a class="btn bg-primary px-3 pt-3" href="form-pendaftaran-siswa.html">Form Pendaftaran</a>
                    </div>
                    <div class="col-lg-12">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  Pendaftaran Ramadan Nandan Harto
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="cart-items">
                                        <div class="header">
                                            <div class="col-4 col-md-2 px-2">
                                                Foto
                                            </div>
                                            <div class="col-8 col-md-10 px-0">
                                                <div class="row mx-0 d-grid d-md-flex">
                                                    <div class="col-5 px-2">
                                                        Nama Siswa
                                                    </div>
                                                    <div class="col-3 px-2">
                                                        Tanggal Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Transaksi
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="item">
                                                <div class="col-4 col-md-2 px-0 px-md-3">
                                                    <img src="../../public/images/foto_anak/sampel.jpeg" class="img-fluid rounded" alt="foto siswa">
                                                </div>
                                                <div class="col-8 col-md-10 px-0">
                                                    <div class="row mx-0 d-grid d-md-flex">
                                                        <div class="col-12 col-md-5 px-3 px-md-2">
                                                            <h5>Ramadan Nandan Harto</h5>
                                                            <div class="col px-0 mt-3 d-none d-md-block justify-content-center">
                                                                <a class="btn bg-outline-primary-modif px-3 pt-3" href="detail-pendaftaran-siswa.html">Detail Pendaftaran</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3 px-3 px-md-2 mt-3 mt-md-0">
                                                            <span>Daftar, 17 Maret 2023</del>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Daftar</span>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Transaksi</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col px-0 d-flex d-md-none mt-4 justify-content-end">
                                                    <a class="btn bg-primary" href="detail-pendaftaran-siswa.html">Detail Pendaftaran</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  Pendaftaran Siswa
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="cart-items">
                                        <div class="header">
                                            <div class="col-4 col-md-2 px-2">
                                                Foto
                                            </div>
                                            <div class="col-8 col-md-10 px-0">
                                                <div class="row mx-0 d-grid d-md-flex">
                                                    <div class="col-5 px-2">
                                                        Nama Siswa
                                                    </div>
                                                    <div class="col-3 px-2">
                                                        Tanggal Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Transaksi
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="item">
                                                <div class="col-4 col-md-2 px-0 px-md-3">
                                                    <img src="../../public/images/foto_anak/sampel.jpeg" class="img-fluid rounded" alt="foto siswa">
                                                </div>
                                                <div class="col-8 col-md-10 px-0">
                                                    <div class="row mx-0 d-grid d-md-flex">
                                                        <div class="col-12 col-md-5 px-3 px-md-2">
                                                            <h5>Ramadan Nandan Harto</h5>
                                                            <div class="col px-0 mt-3 d-none d-md-block justify-content-center">
                                                                <a class="btn bg-outline-primary-modif px-3 pt-3" href="detail-pendaftaran-siswa.html">Detail Pendaftaran</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3 px-3 px-md-2 mt-3 mt-md-0">
                                                            <span>Daftar, 17 Maret 2023</del>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Daftar</span>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Transaksi</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col px-0 d-flex d-md-none mt-4 justify-content-end">
                                                    <a class="btn bg-primary" href="billing-information.html">Detail Pendaftaran</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                  Pendaftaran Siswa
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="cart-items">
                                        <div class="header">
                                            <div class="col-4 col-md-2 px-2">
                                                Foto
                                            </div>
                                            <div class="col-8 col-md-10 px-0">
                                                <div class="row mx-0 d-grid d-md-flex">
                                                    <div class="col-5 px-2">
                                                        Nama Siswa
                                                    </div>
                                                    <div class="col-3 px-2">
                                                        Tanggal Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Daftar
                                                    </div>
                                                    <div class="col-2 px-2">
                                                        Status Transaksi
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="item">
                                                <div class="col-4 col-md-2 px-0 px-md-3">
                                                    <img src="../../public/images/foto_anak/sampel.jpeg" class="img-fluid rounded" alt="foto siswa">
                                                </div>
                                                <div class="col-8 col-md-10 px-0">
                                                    <div class="row mx-0 d-grid d-md-flex">
                                                        <div class="col-12 col-md-5 px-3 px-md-2">
                                                            <h5>Ramadan Nandan Harto</h5>
                                                            <div class="col px-0 mt-3 d-none d-md-block justify-content-center">
                                                                <a class="btn bg-outline-primary-modif px-3 pt-3" href="detail-pendaftaran-siswa.html">Detail Pendaftaran</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3 px-3 px-md-2 mt-3 mt-md-0">
                                                            <span>Daftar, 17 Maret 2023</del>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Daftar</span>
                                                        </div>
                                                        <div class="col-12 col-md-2 px-3 px-md-2 mt-1 mt-md-0">
                                                            <span class="badge rounded-pill bg-primary px-2">Verifikasi Transaksi</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col px-0 d-flex d-md-none mt-4 justify-content-end">
                                                    <a class="btn bg-primary" href="billing-information.html">Detail Pendaftaran</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
        <!--Acount Area End -->

    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row main-footer">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="main-footer-info">
                        <h2 class="text-white">TK Kumaran II</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie malesuada
                            metus, non molestie ligula laoreet vitae. Ut et fringilla risus, vel.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>TK Kumaran II</h6>
                        <ul class="quicklink">
                            <li><a href="#">Beranda</a></li>
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Galeri</a></li>
                            <li><a href="#">Pengumuman</a></li>
                            <li><a href="#">Kegiatan</a></li>
                            <li><a href="#">Kontak</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>Menu Cepat</h6>
                        <ul class="quicklink">
                            <li><a href="#">Pendaftaran</a></li>
                            <li><a href="#">Pengumuman</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="main-footer-quicklinks">
                        <h6>Pengguna</h6>
                        <ul class="quicklink">
                            <li><a href="#">Pofil</a></li>
                            <li><a href="#">Keluar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-flex justify-content-between align-items-center">
                        <div class="copyright-text order-2 order-lg-1">
                            <p>&copy; 2023. TK Kumara II</p>
                        </div>
                        <div class="copyright-links order-1 order-lg-2">
                            <a href="#" class="ml-0"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <script src="../../public/front/src/js/jquery.min.js"></script>
    <script src="../../public/front/src/js/bootstrap.min.js"></script>
    <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../../public/front/dist/main.js"></script> -->
    <script>
        function openNav() {

            document.getElementById("mySidenav").style.width = "350px";
            $('#overlayy').addClass("active");
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $('#overlayy').removeClass("active");
        }
    </script>
</body>
